.top{
    margin-bottom:30px;
}
.instruction-msg{
    margin-top:20px;
    margin-left:20px;
}
.user-info{
    margin-top:20px;
    margin-left:20px;
}
.footer {
  bottom: 0;
  width: 100%;
  height: 300px;
  background-color:royalblue;
  margin-top:80px;
  padding-top:60px;
  text-align:center;
}
.footer-text {
    color:#fff;
}