{% extends "base.html" %}
{% load bootstrap4 %}
{% bootstrap_css %}
{# Load CSS and JavaScript #}
{% block breadcrumb %}
  <li class="breadcrumb-item active">Detail詳細</li>
{% endblock %}
{% block content %}
<div class="container">
    <h1 style="color:royalblue">ユーザー詳細情報</h1>
<table class="table">
    <tbody>
        <tr>
            <th>USER ID:</th>
            <td>{{ user.user_id }}</td>
        </tr>
        <tr>
            <th>USER NAME:</th>
            <td>{{ user.userprofile.username }}</td>
        </tr>
        <tr>
            <th>PASSWORD1:</th>
            <td>{{ user.userprofile.password1 }}</td>
        </tr>
        <tr>
            <th>PASSWORD2:</th>
            <td>{{ user.userprofile.password2 }}</td>
        </tr>
        <tr>
            <th>PASSWORD3:</th>
            <td>{{ user.userprofile.password3 }}</td>
        </tr>
        <tr>
            <th>PHONE:</th>
            <td>{{ user.userprofile.phone }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}