{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}
ユーザー編集表示予定
{% endblock title %}

{% block content %}
<h1>Home</h1>
    <div class="row">
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <h3>User information(編集）:</h3>
                <form action="" method="POST">
                    {{ form.non_field_errors }}
                    <table class="table">
                        <tbody>
                            {% for field in form %}
                                <tr>
                                    <th><label for="{{ field.id_for_label }}">{{ field.label }}</label></th>
                                    <td>{{ field }} {{ field.errors }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success btn-lg" >更新</button>
                </form>
{% endblock %}










                <ul>
                    <li>User ID :{{ user.userprofile.user_id }}</li>
                    <li>First Name :{{ user.username }}</li>
                    <li>Password1 :{{ user.userprofile.password1 }}</li>
                    <li>Password2 :{{ user.userprofile.password2 }}</li>
                    <li>Password3 :{{ user.userprofile.password3 }}</li>
                    <li>Phone :{{ user.userprofile.phone }}</li>
                </ul>
            {% else %}
                  <p>USER IS NOT LOGGED IN.</p>
            {% endif %}
        </ul>
    </div>
{% endblock %} endblock %}