{% extends "base.html" %}
{% load bootstrap4 %}
{% bootstrap_css %}
{# Load CSS and JavaScript #}
{% block breadcrumb %}
  <li class="breadcrumb-item active">Googletrans翻訳</li>
{% endblock %}
{% block content %}
<h1 style="color:royalblue">Googletrans翻訳テスト</h1>
    <div class="row">
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <h1>Here is your profile information(TRANSLATED)</h1>
                <ul>
                    <li>text:{{ text }}</li>
                </ul>
            {% else %}
                  <p>NOT LOGGED IN YET!</p>
            {% endif %}
        </ul>
    </div>
{% endblock %}