{% extends "base.html" %}
{% load bootstrap4 %}
{% bootstrap_css %}
{# Load CSS and JavaScript #}
{% block breadcrumb %}
  <li class="breadcrumb-item active">Udpateアップデート</li>
{% endblock %}

{% block content %}
<div class="container">
  <h1 style="color:royalblue">Update</h1>
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10">

      <form method="post">{% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Update">
      </form>

    </div>
  </div>
{% endblock %}