{% load static %}
{% load bootstrap4 %}
<!-- 必要なファイルをロード -->
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block breadcrumb %}
  <li class="breadcrumb-item active">ユーザー詳細</li>
{% endblock %}
{% block content %}
<h3>ユーザー情報：</h3>
<table class="table">
    <tbody>
        <tr>
            <th>USER ID:</th>
            <td>{{ user.user_id }}</td>
        </tr>
        <tr>
            <th>USER NAME:</th>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <th>PASSWORD1:</th>
            <td>{{ user.password1 }}</td>
        </tr>
        <tr>
            <th>PASSWORD2:</th>
            <td>{{ user.password2 }}</td>
        </tr>
        <tr>
            <th>PASSWORD3:</th>
            <td>{{ user.password3 }}</td>
        </tr>
        <tr>
            <th>PHONE:</th>
            <td>{{ user.phone }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}