<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>SCS-version3.01</title>
</head>


<body>
    <div class="container">
        <h1>SCS-version3.01</h1>
        <nav class="navbar  mynav" role="navigation" id="navbar">
        <hr>
            <a class="navbar-brand mynav" href="{% url 'accounts:home' %}">HOME</a>
        <hr>
        </nav>
        <div class="row">
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                      <li><a class="nav-item nav-link" href="{% url 'accounts:detail' user.pk %}">ユーザー情報表示</a></li>
                      <li><a class="nav-item nav-link" href="{% url 'accounts:update' user.pk %}">ユーザー情報編集</a></li>

                           <li><a href="{% url 'accounts:googletrans' %}" class="btn btn-simple">Google翻訳</a></li>
                      <li><a href="{% url 'accounts:logout' %}" class="btn btn-simple">ログアウト</a></li>
                {% else %}
                      <li><a href="{% url 'accounts:login' %}" class="btn btn-simple">ログイン</a></li>
                      <li><a href="{% url 'accounts:signup' %}" class="btn btn-simple">新規ユーザー登録</a></li>
                {% endif %}
            </ul>
        </div><hr>

        <div class="row">
            {% block content %}

            {% endblock %}
        </div>
    </div>
</body>
</html>
